@font-face {
  font-family: "Mont";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "MontB";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "MontEB";
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "MontL";
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "RobB";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobL";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "RobM";
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montb {
  font-family: "MontB";
}

.monteb {
  font-family: "MontEB";
}

.montl {
  font-family: "MontL";
}

header {
  background-image: url(../img/Background.png);
  width: 1440px;
  height: 700px;
  background-size: cover;
}
header .top .logo {
  font-family: "Mont";
  font-size: 19px;
  font-weight: 900;
  color: #fefefe;
  margin-top: 45px;
  margin-left: 248px;
  position: absolute;
  letter-spacing: 0.9px;
}
header .top .acc {
  position: absolute;
  margin-top: 40px;
  margin-left: 1016px;
  display: flex;
  width: 200px;
}
header .top .acc .login {
  font-family: "Mont";
  color: #fefefe;
  font-size: 13px;
  margin-left: -20px;
  margin-top: 10px;
  position: absolute;
  letter-spacing: 0.4px;
}
header .top .acc .signup {
  display: flex;
  font-size: 13.6px;
  height: 36px;
  width: 90px;
  border-radius: 17px;
  border: 1px #fefefe solid;
  align-items: center;
  justify-content: center;
  font-family: "Mont";
  color: #fefefe;
  position: absolute;
  text-decoration: none;
  margin-left: 42px;
}
header .centr {
  height: 400px;
  width: 470px;
  position: absolute;
  margin-left: 542px;
  margin-top: 225px;
}
header .centr .holiday {
  display: block;
  font-family: "MontB";
  font-size: 50px;
  color: white;
  letter-spacing: 1.2px;
}
header .centr .holidaybot {
  font-family: "MontB";
  color: white;
  font-size: 50px;
  margin-left: -56px;
  letter-spacing: 1.33px;
  margin-top: 2px;
}
header .centr .and {
  color: #fefefe;
  font-family: "MontL";
  font-size: 23px;
  font-weight: lighter;
  margin-left: -21px;
  margin-top: 26px;
  letter-spacing: -1px;
}
header .centr .button-header {
  display: flex;
  background-color: #FF4E50;
  border-radius: 31px;
  width: 225px;
  height: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "MontB";
  font-size: 14px;
  margin-left: 67px;
  margin-top: 33px;
}

main {
  width: 1440px;
}
main .hiw {
  font-family: "MontB";
  display: block;
  width: 342px;
  height: 32px;
  margin: 0 auto;
  font-size: 26px;
  margin-top: 88px;
}
main .steps {
  height: 410px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  margin-top: 36px;
}
main .steps .step1 {
  height: 400px;
  width: 300px;
  background-image: url(../img/Step\ 1\ image.png);
  border-radius: 5px;
  margin-right: 21px;
}
main .steps .step1 .texts1 {
  margin: 0 auto;
  width: 260px;
  height: 176px;
  margin-top: 236px;
  color: #fefefe;
}
main .steps .step1 .texts1 .texth1 {
  font-family: "MontB";
  font-size: 24px;
  margin-top: 21px;
  margin-left: 6px;
  line-height: 26px;
}
main .steps .step1 .texts1 .redb1 {
  display: flex;
  height: 20px;
  width: 70px;
  background-color: #FF4E50;
  font-family: "Mont";
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: -16px;
}
main .steps .step1 .texts1 .sts1 {
  font-family: "MontL";
  font-size: 14px;
  margin-top: 22px;
  margin-left: 4px;
  width: 244px;
  height: 57px;
  letter-spacing: -1px;
  line-height: 15px;
}
main .steps .step2 {
  height: 400px;
  width: 300px;
  background-image: url(../img/Step\ 2\ image.png);
  border-radius: 5px;
  margin-right: 21px;
}
main .steps .step2 .texts2 {
  margin: 0 auto;
  width: 260px;
  margin-top: 250px;
  height: 176px;
  color: white;
}
main .steps .step2 .texts2 .texth2 {
  font-family: "MontB";
  font-size: 24px;
  margin-top: 22px;
  margin-left: 5px;
}
main .steps .step2 .texts2 .redb2 {
  display: flex;
  height: 20px;
  width: 70px;
  background-color: #FF4E50;
  font-family: "Mont";
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  border-radius: 10px;
  margin-left: 5px;
}
main .steps .step2 .texts2 .sts2 {
  font-family: "MontL";
  font-size: 14px;
  margin-top: 14px;
  margin-left: 4px;
  width: 244px;
  height: 57px;
  letter-spacing: -1px;
  line-height: 15px;
}
main .steps .step3 {
  height: 400px;
  width: 300px;
  background-image: url(../img/Step\ 3\ image.png);
  border-radius: 5px;
  color: white;
}
main .steps .step3 .texts3 {
  margin: 0 auto;
  width: 260px;
  height: 176px;
  margin-top: 219px;
}
main .steps .step3 .texts3 .texth3 {
  font-family: "MontB";
  font-size: 24px;
  margin-top: 22px;
  margin-left: 5px;
}
main .steps .step3 .texts3 .redb3 {
  display: flex;
  height: 20px;
  width: 70px;
  background-color: #FF4E50;
  font-family: "Mont";
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  border-radius: 10px;
  margin-left: 5px;
}
main .partners {
  height: 365px;
  width: 945px;
  margin-top: 79px;
  margin: 0 auto;
  margin-top: 79px;
}
main .partners .hpartners {
  color: black;
  font-family: "MontB";
  font-size: 26px;
  margin-left: 229px;
}
main .partners .avatars {
  display: flex;
  margin-top: 35px;
}
main .partners .avatars .avblock1 {
  height: 205px;
  width: 225px;
}
main .partners .avatars .avblock2 {
  height: 205px;
  width: 225px;
  margin-left: 17px;
}
main .partners .avatars .avblock3 {
  height: 225px;
  width: 225px;
  margin-left: 13px;
}
main .partners .avatars .avblock4 {
  height: 225px;
  width: 225px;
  margin-left: 15px;
}
main .partners .avatars .imgav {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
main .partners .avatars .avaname1 {
  margin-top: 18px;
  margin-left: 57px;
  font-size: 14px;
}
main .partners .avatars .avaname2 {
  margin-top: 18px;
  margin-left: 59px;
  font-size: 14px;
}
main .partners .avatars .avaname3 {
  margin-top: 18px;
  margin-left: 70px;
  font-size: 14px;
}
main .partners .avatars .avaname4 {
  margin-top: 18px;
  margin-left: 45px;
  font-size: 14px;
}
main .partners .avatars .avatext {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "RobL";
  font-size: 14px;
  margin-top: 23px;
  color: #666;
  line-height: 14px;
}
main .partners .avatars .avatext2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "RobL";
  font-size: 14px;
  color: #666;
  margin-top: 28px;
  margin-left: 8px;
  width: 221px;
  line-height: 14px;
}
main .partners .seem {
  height: 40px;
  width: 180px;
  border: 2.5px solid #FF4E50;
  border-radius: 23px;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MontB";
  font-size: 14px;
  color: #FF4E50;
  padding-left: 6px;
}
main .ideas .ideahead {
  font-family: "MontB";
  font-size: 26px;
  margin: 0 auto;
  width: 413px;
  height: 32px;
  margin-top: 91px;
}
main .ideas .idimgs {
  margin: 0 auto;
  height: 970px;
  width: 940px;
  margin-top: 35px;
}
main .ideas .idimgs .idcont2 {
  display: flex;
}
main .ideas .idimgs .idcont1 {
  display: flex;
}
main .ideas .idimgs .idcont3 {
  display: flex;
}
main .ideas .idimgs .idimg1 {
  background-image: url(../img/Sport.png);
  width: 300px;
  height: 310px;
}
main .ideas .idimgs .idimg2 {
  background-image: url(../img/Healath.png);
  width: 300px;
  height: 310px;
}
main .ideas .idimgs .idimg3 {
  background-image: url(../img/Extreme.png);
  width: 300px;
  height: 310px;
}
main .ideas .idimgs .idimg4 {
  background-image: url(../img/Games.png);
  width: 300px;
  height: 310px;
}
main .ideas .idimgs .idimg7 {
  background-image: url(../img/GamesCopy.png);
  width: 300px;
  height: 310px;
}
main .ideas .idimgs .idimgbig5 {
  background-image: url(../img/Culture.png);
  width: 620px;
  height: 310px;
}
main .ideas .idimgs .idimgbig6 {
  background-image: url(../img/CultureCopy.png);
  width: 620px;
  height: 310px;
}
main .ideas .idimgs .idmarg {
  margin-left: 16px;
}
main .ideas .idimgs .idcont2 {
  margin-top: 16px;
}
main .ideas .idimgs .idcont3 {
  margin-top: 16px;
}
main .create .crhead {
  font-family: "MontB";
  font-size: 26px;
  width: 358px;
  height: 32px;
  margin: 0 auto;
  margin-top: 89px;
}
main .create .crhead2 {
  color: #666;
  font-family: "RobL";
  font-size: 18px;
  width: 277px;
  height: 24px;
  margin: 0 auto;
  margin-top: 49px;
}
main .create .search {
  width: 482px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
main .create form {
  position: relative;
  width: 299px;
  background: #ffffff;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
}
main .create input, main .create button {
  border: none;
  outline: none;
  background: transparent;
}
main .create input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
main .create .searchbutton {
  width: 172.12px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 50px;
  margin-left: 9px;
  margin-top: -1px;
  font-family: "MontB";
  font-size: 14px;
  color: white;
  padding-left: 5px;
}

.footer {
  width: 1440px;
  height: 260px;
  border-top: 3px #FF4E50 solid;
  margin-top: 98px;
}
.footer .company {
  display: flex;
  width: 943px;
  height: 196px;
  margin: 0 auto;
  margin-top: 36px;
}
.footer .company .dshf {
  font-family: "Mont";
  color: #FF4E50;
  font-size: 16px;
  letter-spacing: 0.3px;
}
.footer .company .companyul {
  margin-left: 122px;
  margin-top: 1px;
  width: 116px;
}
.footer .company .companyul .compulh {
  font-family: "MontB";
  font-size: 14px;
}
.footer .company .companyul .ulab {
  font-family: "RobL";
  font-size: 14px;
  color: #D4D4D4;
  list-style: none;
  line-height: 26px;
  margin-top: 12px;
}
.footer .company .partners {
  font-family: "MontB";
  font-size: 14px;
  margin-left: 125px;
  margin-top: 1px;
}
.footer .company .designed {
  margin-left: 289px;
  margin-top: 8px;
  width: 113px;
}
.footer .company .designed .topdes {
  font-family: "MontB";
  font-size: 10px;
  color: #D4D4D4;
  margin-left: 37px;
  margin-top: -5px;
  position: absolute;
  width: 100px;
}
.footer .company .designed .desimg {
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .montb {
    font-family: "MontB";
  }
  .monteb {
    font-family: "MontEB";
  }
  .montl {
    font-family: "MontL";
  }
  header {
    background-image: url(../img/Background.png);
    width: 768px;
    height: 700px;
    background-size: cover;
    background-position-x: -336px;
  }
  header .top .logo {
    font-family: "Mont";
    font-size: 19px;
    font-weight: 900;
    color: #fefefe;
    margin-top: 47px;
    margin-left: 48px;
    position: absolute;
    letter-spacing: 0.9px;
  }
  header .top .acc {
    position: absolute;
    margin-top: 40px;
    margin-left: 586px;
    display: flex;
  }
  header .top .acc .login {
    font-family: "Mont";
    color: #fefefe;
    font-size: 13px;
    margin-left: -20px;
    margin-top: 10px;
    position: absolute;
    letter-spacing: 0.4px;
  }
  header .top .acc .signup {
    display: flex;
    font-size: 13.6px;
    height: 36px;
    width: 90px;
    border-radius: 17px;
    border: 1px #fefefe solid;
    align-items: center;
    justify-content: center;
    font-family: "Mont";
    color: #fefefe;
    position: absolute;
    text-decoration: none;
    margin-left: 42px;
  }
  header .centr {
    height: 400px;
    width: 470px;
    position: absolute;
    margin-left: 206px;
    margin-top: 225px;
  }
  header .centr .holiday {
    display: block;
    font-family: "MontB";
    font-size: 50px;
    color: white;
    letter-spacing: 1.2px;
  }
  header .centr .holidaybot {
    font-family: "MontB";
    color: white;
    font-size: 50px;
    margin-left: -56px;
    letter-spacing: 1.33px;
    margin-top: 2px;
  }
  header .centr .and {
    color: #fefefe;
    font-family: "MontL";
    font-size: 23px;
    font-weight: lighter;
    margin-left: -21px;
    margin-top: 26px;
    letter-spacing: -1px;
  }
  header .centr .button-header {
    display: flex;
    background-color: #FF4E50;
    border-radius: 31px;
    width: 225px;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "MontB";
    font-size: 14px;
    margin-left: 67px;
    margin-top: 33px;
  }
  body {
    overflow-x: hidden;
  }
  main {
    width: 768px;
  }
  main .hiw {
    font-family: "MontB";
    display: block;
    width: 289px;
    height: 32px;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 93px;
  }
  main .steps {
    height: 410px;
    width: 768px;
    margin: 0 auto;
    display: flex;
    margin-top: 31px;
  }
  main .steps .step1 {
    height: 400px;
    width: 236px;
    background-image: url(../img/Step\ 1\ image.png);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
  }
  main .steps .step1 .texts1 {
    margin: 0 auto;
    width: 260px;
    height: 176px;
    margin-top: 236px;
    color: #fefefe;
  }
  main .steps .step1 .texts1 .texth1 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: 47px;
    margin-left: 20px;
    line-height: 14px;
  }
  main .steps .step1 .texts1 .redb1 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -31px;
  }
  main .steps .step1 .texts1 .sts1 {
    font-family: "MontL";
    font-size: 14px;
    margin-top: 28px;
    margin-left: 21px;
    width: 194px;
    height: 57px;
    line-height: 14px;
  }
  main .steps .step2 {
    height: 400px;
    width: 236px;
    background-image: url(../img/Step\ 2\ image.png);
    border-radius: 5px;
    margin-right: 20px;
  }
  main .steps .step2 .texts2 {
    margin: 0 auto;
    width: 260px;
    margin-top: 250px;
    height: 176px;
    color: white;
  }
  main .steps .step2 .texts2 .texth2 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: 15px;
    margin-left: 20px;
    width: 143px;
    line-height: 14px;
  }
  main .steps .step2 .texts2 .redb2 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 21px;
    margin-top: 255px;
  }
  main .steps .step2 .texts2 .sts2 {
    font-family: "MontL";
    font-size: 14px;
    margin-top: 23px;
    margin-left: 19px;
    width: 244px;
    height: 57px;
    /* letter-spacing: 0px; */
    line-height: 14px;
    width: 201px;
  }
  main .steps .step3 {
    height: 400px;
    width: 236px;
    background-image: url(../img/Step\ 3\ image.png);
    border-radius: 5px;
    color: white;
  }
  main .steps .step3 .texts3 {
    margin: 0 auto;
    width: 260px;
    height: 176px;
    margin-top: 219px;
  }
  main .steps .step3 .texts3 .texth3 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: 45px;
    margin-left: 20px;
    line-height: 14px;
  }
  main .steps .step3 .texts3 .redb3 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -14px;
  }
  main .steps .step3 .texts3 .sts3 {
    font-family: "MontL";
    font-size: 14px;
    margin-top: 30px;
    margin-left: 19px;
    width: 244px;
    height: 57px;
    letter-spacing: -0.9px;
    line-height: 14px;
    width: 201px;
  }
  main .partners {
    height: 365px;
    width: 768px;
    margin-top: 79px;
    margin: 0 auto;
    margin-top: 83px;
  }
  main .partners .hpartners {
    color: black;
    font-family: "MontB";
    font-size: 22px;
    margin-left: 177px;
  }
  main .partners .avatars {
    display: block;
    margin-top: 35px;
  }
  main .partners .avatars .avblock1 {
    height: 205px;
    width: 236px;
    margin-left: 138px;
    margin-top: 35px;
  }
  main .partners .avatars .avblock2 {
    height: 205px;
    width: 225px;
    margin-left: 143px;
    margin-top: 55px;
    position: absolute;
  }
  main .partners .avatars .avblock3 {
    height: 225px;
    width: 225px;
    margin-left: 399px;
    position: absolute;
    margin-top: -204px;
  }
  main .partners .avatars .avblock4 {
    height: 225px;
    width: 225px;
    margin-left: 399px;
    margin-top: 55px;
  }
  main .partners .avatars .imgav {
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  main .partners .avatars .avaname1 {
    margin-top: 19px;
    margin-left: 62px;
    font-size: 14px;
  }
  main .partners .avatars .avaname2 {
    margin-top: 18px;
    margin-left: 60px;
    font-size: 14px;
  }
  main .partners .avatars .avaname3 {
    margin-top: 18px;
    margin-left: 70px;
    font-size: 14px;
  }
  main .partners .avatars .avaname4 {
    margin-top: 18px;
    margin-left: 45px;
    font-size: 14px;
  }
  main .partners .avatars .avatext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "RobL";
    font-size: 14px;
    margin-top: 23px;
    color: #666;
    line-height: 14px;
  }
  main .partners .avatars .avatext2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "RobL";
    font-size: 14px;
    color: #666;
    margin-top: 22px;
    margin-left: -6px;
    width: 238px;
    line-height: 14px;
  }
  main .partners .seem {
    height: 40px;
    width: 180px;
    border: 2.5px solid #FF4E50;
    border-radius: 23px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MontB";
    font-size: 14px;
    color: #FF4E50;
    padding-left: 6px;
    margin-left: 294px;
  }
  main .ideas {
    margin-top: 330px;
  }
  main .ideas .ideahead {
    font-family: "MontB";
    font-size: 22px;
    margin: 0 auto;
    width: 350px;
    height: 32px;
    margin-top: 336px;
  }
  main .ideas .idimgs {
    margin: 0 auto;
    height: 970px;
    width: 768px;
    margin-top: 35px;
  }
  main .ideas .idimgs .idcont2 {
    display: flex;
    margin-top: 324px;
  }
  main .ideas .idimgs .idcont1 {
    display: flex;
    margin-top: 0px;
  }
  main .ideas .idimgs .idcont3 {
    display: flex;
    margin-top: 330px;
  }
  main .ideas .idimgs .idimg1 {
    background-image: url(../img/Sporttab.png);
    width: 236px;
    height: 310px;
    margin-left: 10px;
    border-radius: 5px;
    position: absolute;
    margin-top: -5px;
  }
  main .ideas .idimgs .idimg2 {
    background-image: url(../img/Healathtab.png);
    width: 236px;
    height: 310px;
    position: absolute;
    margin-left: 266px;
    margin-top: -5px;
  }
  main .ideas .idimgs .idimg3 {
    background-image: url(../img/Extremetab.png);
    width: 236px;
    height: 310px;
    position: absolute;
    margin-left: 522px;
    margin-top: -6px;
  }
  main .ideas .idimgs .idimg4 {
    background-image: url(../img/Gamestab.png);
    width: 236px;
    height: 310px;
    position: absolute;
    margin-left: 10px;
  }
  main .ideas .idimgs .idimg7 {
    background-image: url(../img/GamesCopytab.png);
    width: 236px;
    height: 310px;
    position: absolute;
    margin-left: 522px;
  }
  main .ideas .idimgs .idimgbig5 {
    background-image: url(../img/Culture.png);
    width: 492px;
    height: 310px;
    position: absolute;
    margin-left: 267px;
    border-radius: 4px;
    background-position-x: -66px;
  }
  main .ideas .idimgs .idimgbig6 {
    background-image: url(../img/CultureCopyTab.png);
    width: 492px;
    height: 310px;
    position: absolute;
    margin-left: 10px;
    border-radius: 4px;
  }
  main .create .crhead {
    font-family: "MontB";
    font-size: 22px;
    width: 302px;
    height: 32px;
    margin: 0 auto;
    margin-top: 89px;
  }
  main .create .crhead2 {
    color: #666;
    font-family: "RobL";
    font-size: 18px;
    width: 276px;
    height: 24px;
    margin: 0 auto;
    margin-top: 45px;
  }
  main .create .search {
    width: 482px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
  }
  main .create form {
    position: relative;
    width: 299px;
    background: #ffffff;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
  }
  main .create input, main .create button {
    border: none;
    outline: none;
    background: transparent;
  }
  main .create input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
  }
  main .create .searchbutton {
    width: 172.12px;
    height: 40px;
    background-color: #FF4E50;
    border-radius: 50px;
    margin-left: 9px;
    margin-top: -1px;
    font-family: "MontB";
    font-size: 14px;
    color: white;
    padding-left: 5px;
  }
  .footer {
    width: 768px;
    height: 260px;
    border-top: 3px #FF4E50 solid;
    margin-top: 98px;
  }
  .footer .company {
    display: flex;
    width: 768px;
    height: 196px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .footer .company .dshf {
    font-family: "Mont";
    color: #FF4E50;
    font-size: 16px;
    letter-spacing: -0.1px;
    margin-left: 39px;
  }
  .footer .company .companyul {
    margin-left: 122px;
    margin-top: 1px;
    width: 116px;
  }
  .footer .company .companyul .compulh {
    font-family: "MontB";
    font-size: 14px;
    margin-left: -12px;
  }
  .footer .company .companyul .ulab {
    font-family: "RobL";
    font-size: 14px;
    color: #D4D4D4;
    list-style: none;
    line-height: 26px;
    margin-top: 12px;
    width: 199px;
    margin-left: -12px;
    position: absolute;
  }
  .footer .company .partners {
    font-family: "MontB";
    font-size: 14px;
    margin-left: 41px;
    margin-top: 1px;
  }
  .footer .company .designed {
    margin-left: 120px;
    margin-top: 8px;
    width: 113px;
  }
  .footer .company .designed .topdes {
    font-family: "MontB";
    font-size: 10px;
    color: #D4D4D4;
    margin-left: 29px;
    margin-top: -6px;
    position: absolute;
    width: 100px;
    letter-spacing: 1px;
  }
  .footer .company .designed .desimg {
    margin-top: 12px;
  }
}
@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .container {
    margin: 0 auto;
  }
  .montb {
    font-family: "MontB";
  }
  .monteb {
    font-family: "MontEB";
  }
  .montl {
    font-family: "MontL";
  }
  header {
    background-image: url(../img/Backgroundmob.png);
    width: 320px;
    height: 540px;
    background-size: cover;
    background-position-x: -321px;
  }
  header .top .logo {
    font-family: "Mont";
    font-size: 19px;
    font-weight: 900;
    color: #fefefe;
    margin-top: 153px;
    margin-left: 87px;
    position: absolute;
    letter-spacing: 0.9px;
  }
  header .top .acc {
    position: absolute;
    margin-top: 20px;
    margin-left: 105px;
    display: flex;
  }
  header .top .acc .login {
    font-family: "Mont";
    color: #fefefe;
    font-size: 13px;
    margin-left: -20px;
    margin-top: 10px;
    position: absolute;
    letter-spacing: 0.4px;
  }
  header .top .acc .signup {
    display: flex;
    font-size: 13.6px;
    height: 36px;
    width: 90px;
    border-radius: 17px;
    border: 1px #fefefe solid;
    align-items: center;
    justify-content: center;
    font-family: "Mont";
    color: #fefefe;
    position: absolute;
    text-decoration: none;
    margin-left: 42px;
  }
  header .centr {
    height: 74px;
    width: 262px;
    position: absolute;
    margin-left: 56px;
    margin-top: 203px;
  }
  header .centr .holiday {
    display: block;
    font-family: "MontB";
    font-size: 30px;
    color: white;
    letter-spacing: 0.2px;
  }
  header .centr .holidaybot {
    font-family: "MontB";
    color: white;
    font-size: 30px;
    margin-left: -31px;
    letter-spacing: 0.1px;
    margin-top: 0px;
  }
  header .centr .and {
    color: #fefefe;
    font-family: "RobL";
    font-size: 18px;
    font-weight: lighter;
    margin-left: -15px;
    margin-top: 8px;
    letter-spacing: 0px;
    width: 239px;
    text-align: center;
  }
  header .centr .button-header {
    display: flex;
    background-color: #FF4E50;
    border-radius: 31px;
    width: 278px;
    height: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "MontB";
    font-size: 14px;
    margin-left: -35px;
    margin-top: 18px;
  }
  main {
    width: 320px;
  }
  main .hiw {
    font-family: "MontB";
    display: block;
    width: 289px;
    height: 32px;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 34px;
  }
  main .steps {
    height: 781px;
    width: 320px;
    margin: 0 auto;
    display: block;
    margin-top: 31px;
  }
  main .steps .step1 {
    height: 240px;
    width: 300px;
    background-image: url(../img/Step\ 1\ image\ mobile.png);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
  }
  main .steps .step1 .texts1 {
    margin: 0 auto;
    width: 260px;
    height: 176px;
    margin-top: -20px;
    color: #fefefe;
  }
  main .steps .step1 .texts1 .texth1 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: 129px;
    margin-left: 0px;
    line-height: 14px;
    position: absolute;
  }
  main .steps .step1 .texts1 .redb1 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 1px;
    position: absolute;
    margin-top: 63px;
  }
  main .steps .step1 .texts1 .sts1 {
    font-family: "RobL";
    font-size: 14px;
    margin-top: 183px;
    margin-left: -1px;
    width: 254px;
    height: 57px;
    line-height: 14px;
    letter-spacing: 0.1px;
    position: absolute;
  }
  main .steps .step2 {
    height: 240px;
    width: 300px;
    background-image: url(../img/Step\ 1\ image\ mob.png);
    border-radius: 5px;
    margin-right: 0px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }
  main .steps .step2 .texts2 {
    margin: 0 auto;
    width: 260px;
    margin-top: 250px;
    height: 176px;
    color: white;
  }
  main .steps .step2 .texts2 .texth2 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: -106px;
    margin-left: 0px;
    width: 218px;
    position: absolute;
    line-height: 14px;
  }
  main .steps .step2 .texts2 .redb2 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: -156px;
    position: absolute;
  }
  main .steps .step2 .texts2 .sts2 {
    font-family: "RobL";
    font-size: 14px;
    margin-top: -69px;
    margin-left: 0px;
    width: 198px;
    height: 57px;
    letter-spacing: 0px;
    line-height: 14px;
    width: 253px;
    position: absolute;
  }
  main .steps .step3 {
    height: 240px;
    width: 300px;
    background-image: url(../img/Step\ 3\ image\ mob.png);
    border-radius: 5px;
    color: white;
    position: absolute;
    margin-top: 258px;
    margin-left: 10px;
  }
  main .steps .step3 .texts3 {
    margin: 0 auto;
    width: 260px;
    height: 176px;
    margin-top: 79px;
  }
  main .steps .step3 .texts3 .texth3 {
    font-family: "MontB";
    font-size: 24px;
    margin-top: 45px;
    margin-left: 1px;
    line-height: 14px;
  }
  main .steps .step3 .texts3 .redb3 {
    display: flex;
    height: 20px;
    width: 70px;
    background-color: #FF4E50;
    font-family: "Mont";
    font-size: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: -14px;
  }
  main .steps .step3 .texts3 .sts3 {
    font-family: "RobL";
    font-size: 14px;
    margin-top: 25px;
    margin-left: 1px;
    width: 244px;
    height: 57px;
    letter-spacing: 0px;
    line-height: 14px;
    width: 244px;
  }
  main .partners {
    height: 365px;
    width: 320px;
    margin-top: 79px;
    margin: 0 auto;
    margin-top: 83px;
  }
  main .partners .hpartners {
    color: black;
    font-family: "MontB";
    font-size: 22px;
    margin-left: -1px;
    text-align: center;
    margin-top: -90px;
  }
  main .partners .avatars {
    display: block;
    margin-top: 35px;
  }
  main .partners .avatars .avblock1 {
    height: 205px;
    width: 236px;
    margin-left: 43px;
    margin-top: -21px;
  }
  main .partners .avatars .avblock2 {
    height: 205px;
    width: 225px;
    margin-left: 47px;
    margin-top: 257px;
    position: absolute;
  }
  main .partners .avatars .avblock3 {
    height: 225px;
    width: 225px;
    margin-left: 47px;
    position: absolute;
    margin-top: 16px;
  }
  main .partners .avatars .avblock4 {
    height: 225px;
    width: 225px;
    margin-left: 47px;
    margin-top: 478px;
  }
  main .partners .avatars .imgav {
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  main .partners .avatars .avaname1 {
    margin-top: 19px;
    margin-left: 62px;
    font-size: 14px;
  }
  main .partners .avatars .avaname2 {
    margin-top: 18px;
    margin-left: 60px;
    font-size: 14px;
  }
  main .partners .avatars .avaname3 {
    margin-top: 18px;
    margin-left: 70px;
    font-size: 14px;
  }
  main .partners .avatars .avaname4 {
    margin-top: 18px;
    margin-left: 45px;
    font-size: 14px;
  }
  main .partners .avatars .avatext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "RobL";
    font-size: 14px;
    color: #666;
    margin-top: 27px;
    margin-left: -6px;
    width: 238px;
    line-height: 14px;
  }
  main .partners .avatars .avatext2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "RobL";
    font-size: 14px;
    color: #666;
    margin-top: 22px;
    margin-left: -6px;
    width: 238px;
    line-height: 14px;
  }
  main .partners .seem {
    height: 40px;
    width: 279px;
    border: 2.5px solid #FF4E50;
    border-radius: 23px;
    margin: 0 auto;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MontB";
    font-size: 14px;
    color: #FF4E50;
    padding-left: 6px;
    margin-left: 21px;
  }
  main .ideas {
    margin-top: 811px;
  }
  main .ideas .ideahead {
    font-family: "MontB";
    font-size: 22px;
    margin: 0 auto;
    width: 259px;
    height: 32px;
    margin-top: -109px;
    text-align: center;
  }
  main .ideas .idimgs {
    margin: 0 auto;
    height: 970px;
    width: 768px;
    margin-top: 60px;
  }
  main .ideas .idimgs .idcont2 {
    display: flex;
    margin-top: 324px;
  }
  main .ideas .idimgs .idcont1 {
    display: flex;
    margin-top: 0px;
  }
  main .ideas .idimgs .idcont3 {
    display: flex;
    margin-top: 330px;
  }
  main .ideas .idimgs .idimg1 {
    background-image: url(../img/Sportmobile.png);
    width: 300px;
    height: 120px;
    margin-left: 10px;
    border-radius: 5px;
    position: absolute;
    margin-top: -5px;
  }
  main .ideas .idimgs .idimg2 {
    background-image: url(../img/Healathmobile.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-left: 10px;
    margin-top: 124px;
  }
  main .ideas .idimgs .idimg3 {
    background-image: url(../img/Extrememob.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-left: 9px;
    margin-top: 253px;
  }
  main .ideas .idimgs .idimg4 {
    background-image: url(../img/Gamesmob.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-left: 10px;
    margin-top: 60px;
  }
  main .ideas .idimgs .idimg7 {
    background-image: url(../img/GamesCopymob.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-top: 119px;
    margin-left: 10px;
  }
  main .ideas .idimgs .idimgbig5 {
    background-image: url(../img/Culturemob.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-left: 10px;
    border-radius: 4px;
    background-position-x: 0;
    margin-top: 191px;
  }
  main .ideas .idimgs .idimgbig6 {
    background-image: url(../img/CultureCopymob.png);
    width: 300px;
    height: 120px;
    position: absolute;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: -10px;
  }
  main .create .crhead {
    font-family: "MontB";
    font-size: 22px;
    width: 216px;
    height: 32px;
    margin: 0 auto;
    margin-top: -41px;
    text-align: center;
  }
  main .create .crhead2 {
    color: #666;
    font-family: "RobL";
    font-size: 18px;
    width: 276px;
    height: 24px;
    margin: 0 auto;
    margin-top: 38px;
    margin-left: 23px;
  }
  main .create .search {
    width: 482px;
    height: 40px;
    margin: 0 auto;
    margin-top: 7px;
    display: block;
    margin-left: 20px;
  }
  main .create form {
    position: relative;
    width: 281px;
    background: #ffffff;
    border: 2px solid #D4D4D4;
    border-radius: 5px;
  }
  main .create input, main .create button {
    border: none;
    outline: none;
    background: transparent;
  }
  main .create input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
  }
  main .create .searchbutton {
    width: 279.12px;
    height: 40px;
    background-color: #FF4E50;
    border-radius: 50px;
    margin-left: 0px;
    margin-top: -1px;
    font-family: "MontB";
    font-size: 14px;
    color: white;
    padding-left: 5px;
    margin-top: 7px;
  }
  .footer {
    width: 320px;
    height: 260px;
    border-top: 3px #FF4E50 solid;
    margin-top: 91px;
  }
  .footer .company {
    display: flex;
    width: 768px;
    height: 196px;
    margin: 0 auto;
    margin-top: 91px;
  }
  .footer .company .dshf {
    font-family: "Mont";
    color: #FF4E50;
    font-size: 16px;
    letter-spacing: -0.1px;
    margin-left: 102px;
    display: flex;
    margin-top: -72px;
  }
  .footer .company .companyul {
    margin-left: 122px;
    margin-top: 1px;
    width: 116px;
  }
  .footer .company .companyul .compulh {
    font-family: "MontB";
    font-size: 14px;
    margin-left: -217px;
    margin-top: -40px;
  }
  .footer .company .companyul .ulab {
    font-family: "RobL";
    font-size: 14px;
    color: #D4D4D4;
    list-style: none;
    line-height: 26px;
    margin-top: 12px;
    width: 199px;
    margin-left: -276px;
    position: absolute;
  }
  .footer .company .companyul .absolut1 {
    position: absolute;
    margin-top: -10px;
  }
  .footer .company .companyul .absolut2 {
    position: absolute;
    margin-left: 50px;
    margin-top: -10px;
  }
  .footer .company .companyul .absolut3 {
    position: absolute;
    margin-top: -10px;
    margin-left: 112px;
  }
  .footer .company .companyul .absolut4 {
    position: absolute;
    margin-top: -10px;
    margin-left: 160px;
  }
  .footer .company .companyul .absolut5 {
    position: absolute;
    margin-top: 15px;
    margin-left: 16px;
  }
  .footer .company .companyul .absolut6 {
    position: absolute;
    margin-left: 142px;
    margin-top: 15px;
  }
  .footer .company .partners {
    font-family: "MontB";
    font-size: 14px;
    margin-left: 128px;
    margin-top: 37px;
    position: absolute;
  }
  .footer .company .designed {
    margin-left: -352px;
    margin-top: 75px;
    width: 113px;
  }
  .footer .company .designed .topdes {
    font-family: "MontB";
    font-size: 10px;
    color: #D4D4D4;
    margin-left: 14px;
    margin-top: -6px;
    position: absolute;
    width: 100px;
    letter-spacing: 1px;
  }
  .footer .company .designed .desimg {
    margin-top: 12px;
  }
}/*# sourceMappingURL=main.css.map */